@use "../../../variables.scss" as v;
@use "../../../mixins.scss" as m;

.section_contact {
  @include m.flex(center, center, column);
  height: max-content;
  border-top: 5px solid v.$yellow;

  div {
    @include m.flex(center, space-around, row);

    img {
      display: block;
      width: 300px;
    }
  }

  .buttonArea {
    @include m.flex(center, center, column);
    gap: 20px;

    button {
      @include m.flex(center, flex-start, row);
      color: #fff;
      width: 250px;
      padding: 10px 15px;
      border-radius: 20px;
      background-color: aliceblue;
      box-shadow: 4px 6px 10px #0000007d;

      font-size: 1.3em;
      transition: 0.3s;

      &:hover {
        transform: scale(1.2);
      }

      svg {
        font-size: 1.5em;
      }
      span {
        font-weight: 600;
        margin-left: 10px;
      }

      &.github{
        background-color: #000;

        &:hover{
          background-color: #2e2e2e;
        }
      }

      &.gmail{
        background: #F44336;

        &:hover{
          background-color:  #ff5347;
        }
      }

      &.linkedin{
        background-color: #007AB9;
        &.hover{
          background-color: #009eec;

        }
      }
    }
  }
}

@media (max-width: 768px) {
  .section_contact {
    div {
      display: block;
      width: 100%;

      img {
        display: none;
      }
    }

    .buttonArea{
        row-gap: 30px;
    }
  }
}
