@use "../../../variables.scss" as v;

.main_area {
  background-color: v.$white;
  border-radius: 10px 10px 0px 0px;
  height: max-content;

  max-width: 1140px;
  margin: auto;

  .project_area {
    width: 100%;
    margin: 15px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: center;
    align-content: center;
  }
}

@media (max-width: 992px) {
  .main_area .project_area {
    grid-template-columns: auto auto;
  }
}


@media (max-width: 640px) {
  .main_area .project_area {
    grid-template-columns: auto;
    row-gap: 30px;
  }
}
